:root{
    --main-color: #e91e63;
}

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    font-family: 'Rubik', sans-serif;
}

.container {
    margin: auto;
}

/* Start Settings box Styling */
.settings-box{
    position: fixed;
    width: 200px;
    min-height: 100vh;
    background-color: rgb(255 255 255 / 0.6);
    z-index: 100000;
    top: 0;
    left: -200px;
    transition: 0.3s;
    border: 2px solid #ddd;
}

.settings-box.opend{left: 0;}

.settings-box .settings-box-icon
{
    position: absolute;
    right: -30px;
    top: 100px;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
}

.settings-box .settings-box-icon .fa-gear{
    padding: 8px 0;
    width: 30px;
    font-size: 20px;
}

.settings-box .settings-container{
    padding: 6px;
    background-color: #eee;
    margin: 12px;
    text-align: center;
}

.settings-box .settings-container h4{

    color: var(--main-color);
    font-size: 16px;
    font-weight: bold;
    margin: 0 ;
}

.settings-box .settings-container .colors-list
{
    margin-top: 18px;
    margin-bottom: 10px;
    list-style: none;
    text-align: center;
    padding: 0;
}

.settings-box .settings-container .colors-list li{
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 3px;
    border-radius: 4px;
    background-color: #e91e63;
    cursor: pointer;
    opacity: 0.5;
}

.settings-box .settings-container .colors-list li.active{
    opacity: 1;
    border: 2px solid #fff;
}

.settings-box .settings-container .colors-list li:first-child{

    background-color: #e91e63;
}

.settings-box .settings-container .colors-list li:nth-child(2){
    
    background-color: #4caf50;
}

.settings-box .settings-container .colors-list li:nth-child(3){
    
    background-color: #00bcd4;
}

.settings-box .settings-container .colors-list li:nth-child(4){
    
    background-color: #ff9800;
}

.settings-box .settings-container .colors-list li:last-child{

    background-color: #f44336;
}

.settings-container .yes, .settings-container .no 
{
    width: 60px;
    background-color: #333;
    color: #fff;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 5px 3px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    opacity: 0.5;
}

.settings-container span.active {opacity: 1;}

.settings-box button{

    width: 178px;
    background-color: #f44336;
    padding: 10px;
    border: 0;
    outline: none;
    display: block;
    margin: 10px auto;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}
/* End SettingsBox Styling */

/* Start Nav Bullets Styling */
.nav-bullets{

    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 50px;
    z-index: 900;
}

.nav-bullets .bullet{

    border: 2px solid var(--main-color);
    width: 20px;
    height: 20px;
    margin: 20px auto;
    cursor: pointer;
    border-radius: 50%;
    position: relative;
}

.nav-bullets .bullet:hover .tooltip{ display: block;}

.nav-bullets .bullet .tooltip{

    background-color: var(--main-color);
    color: #fff;
    width: 120px;
    padding: 8px 10px;
    position: absolute;
    right: 35px;
    top: -9px;
    text-align: center;
    cursor: default;
    pointer-events: none;
    display: none;
}

.nav-bullets .bullet .tooltip::before{

    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -20px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent transparent var( --main-color);
}
/* End Nav Bullets Styling */


/* Start Landing Page Styling */
.landing-page{
    min-height: 100vh;
    background-image: url(../images/1.jpg);
    background-size: cover;
    transition: 2s;
    position: relative;
}
.landing-page .overlay
{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgb(0 0 0 / 0.6)
}

.landing-page .container{

    position: relative;
    z-index: 1000;
}

.landing-page .header
{
    position: relative;
    z-index: 2;
    color: #fff;
    padding: 15px;
    display: flex;
}
.landing-page .header .logo
{
    width: 300px;
    font-size: 30px;
    font-weight: bolder;
    padding: 15px;
    cursor: pointer;
}

.landing-page .header .links-container {width: 100%; text-align: right;}

.landing-page .header .toggle-menu{

    width: 40px;
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 24px;
    display: none;
    position: relative;
}

.landing-page .header .toggle-menu.menu-active::before{
    content: '';
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    bottom: -15px;
    left: 10px;
}

.landing-page .header .toggle-menu:focus{

    outline: none;
}
.landing-page .header .toggle-menu span{

    width: 100%;
    background-color: var(--main-color);
    display: block;
    height: 3px;
    margin-bottom: 5px;
}

.landing-page .header .navbar
{
    list-style: none;
    padding-left: 0;
}

.landing-page .header .navbar li
{
    display: inline-block;
    margin-right: 15px;
    cursor: pointer;
}  

.landing-page .header .navbar li a
{
    text-decoration: none;
    color: #fff;
}

.landing-page .header .navbar li a:hover
{
    color: var(--main-color);
}

.intro-text
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
    color: #fff;
}

.intro-text h1{

    font-size: 34px;
    margin-bottom: 22px;
    color: #fff;
    font-weight: bold;
}

@media (max-width: 575px){
    .intro-text{ width: 90%;}
    .intro-text h1{ font-size: 26px;}
}

.intro-text h1 span{ color: var(--main-color); }

.intro-text p{
    font-size: 20px;
    line-height: 1.8;
    width: 100%;
}

@media (max-width: 991px) {

.landing-page .header .navbar{

    display: none;
}

.landing-page .header .navbar.open{

    background-color: #fff;
    width: 100%;
    position: absolute;
    left: 0;
    top: 64px;
    display: block;
    padding: 10px;
    text-align: center;
}

.landing-page .header .navbar.open li{

    display: block;
    margin: 10px;
}

.landing-page .header .navbar.open li a{

    color: var(--main-color);
    font-weight: bold;
    font-size: 25px;
}
.landing-page .header .toggle-menu{

    display: inline-block;
}

}

/* End Landing Page Styling */

/* ÙStart About-Us Styling */
.about-us{

    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
}

@media (max-width: 767px){

    .about-us {
        display: block;
        text-align: center;
    }
}

.about-us .info-box{flex: 1; padding: 30px; margin-right: 50px;}

@media (max-width: 767px){

    .about-us .info-box{
        padding: 0;
    }
}
.about-us .info-box h2{

    font-size: 25px;
    font-weight: bold;
    color: var(--main-color);
    margin-bottom: 20px;
}

.about-us .info-box p{

    line-height: 1.8;
    color: #767676;
    margin: 0;
}

.about-us .img-box{flex: 1;}

.about-us .img-box img{

    width: 450px;
}
/* End About-Us Styling */

/* Start Skills Styling */
.skills{

    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

.skills h2{

    font-size: 25px;
    font-weight: bold;
    color: var(--main-color);
    margin-bottom: 40px;
    text-align: center;
}

.skills .skills-box{
    display: flex;
    background-color: #fff;
    padding: 10px;
    margin-bottom: 20px;
}

@media (max-width: 767px){

    .skills .skills-box{
        display: block;
    }
}

.skills .skills-box .skill-name{
    width: 120px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: #333;
    line-height: 15px;
}

@media (max-width: 767px){

    .skills .skills-box .skill-name{
        width: 100%;
        margin-bottom: 20px;
    }
}

.skills .skills-box .skill-progress{

    width: calc(100% - 130px) ;
    height: 15px;
    background-color: #f3f3f3;
    border-radius: 10px;
    position: relative;
}

.skills .skills-box .skill-progress span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: var(--main-color);
    border-radius: 10px;
    transition: all 1.5s ease-in-out;
}
/* End Skille Styling */

/* Start Gallery Styling */
.gallery
{
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center ;
}

.gallery h2{

    font-size: 25px;
    font-weight: bold;
    color: var(--main-color);
    margin-bottom: 40px;
    text-align: center;
}

.gallery .images-box {text-align: center;}

.gallery .images-box img{
    width: 200px;
    padding: 3px;
    background-color: #eee;
    border: 1px solid #ccc;
    cursor: pointer;
}

/* Pop-Up Overlay Styling */
.popup-overlay{

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0 0 0 / 0.6);
    z-index: 1000;
}

.popup-box{

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 1001;
}

.popup-box h3{

    font-weight: bold;
    font-size: 24px;
    color: var(--main-color);
    text-align: center;
    margin: 0 0 20px;
}

.popup-box .close-btn{

    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #333;
    color: var(--main-color);
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border-radius: 50%;
    cursor: pointer;
}

.popup-box img{ max-width: 100%; }
/* End Gallery Styling */

/* Start Timeline Styling */
.timeline{

    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

.timeline .timeline-content{

    position: relative;
    overflow: hidden;
}

.timeline .timeline-content::before{

    content: "";
    width: 2px;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -1px;
    background-color: #676767;
}

.timeline .timeline-content .year{

    margin: 20px auto;
    background-color: var(--main-color);
    width: 50px;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    border-radius: 5px;
    position: relative;
    z-index: 2;
}

.timeline .timeline-content .left,
.timeline .timeline-content .right{

    width: calc(50% - 25px);
    margin-bottom: 40px;
    position: relative;
}

@media (max-width: 767px){

    .timeline .timeline-content .left,
    .timeline .timeline-content .right{

        width: 100%;
        margin-bottom: 20px;
}
}
.timeline .timeline-content .left{float: left;}

.timeline .timeline-content .left::before{right: -35px;}

.timeline .timeline-content .right{float: right;}

.timeline .timeline-content .right::before{left: -35px;}

.timeline .timeline-content .left::before,
.timeline .timeline-content .right::before{

    content: "";
    width: 14px;
    height: 14px;
    background-color: #fff;
    border: 2px solid var(--main-color);
    position: absolute;
    top: 10px;
    border-radius: 50%;
}

@media (max-width: 767px){

    .timeline .timeline-content .left::before,
    .timeline .timeline-content .right::before{
    
    display: none;
}
}

.timeline .timeline-content .content{
    padding: 20px;
    background-color: #fff;
}


.timeline .timeline-content .left .content::before{

    content: "";
    position: absolute;
    top: 10px;
    right: -20px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent transparent #fff;
}


.timeline .timeline-content .right .content::before{

    content: "";
    position: absolute;
    top: 10px;
    left: -20px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px;
    border-color: transparent  #fff transparent transparent;
}

@media (max-width: 767px){
    .timeline .timeline-content .left .content::before,
    .timeline .timeline-content .right .content::before{
        display: none;
    }
}
.timeline .timeline-content .content h3{

    font-weight: bold;
    font-size: 25px;
    color: var(--main-color);
    margin-bottom: 10px;
}

.timeline .timeline-content .content p{

    line-height: 1.7;
    margin: 0;
    color: #676767;
}

.clearfix{ clear: both; }
/* End Timeline Styling */

/* Start Features Styling */
.features{

    padding-top: 80px;
    padding-bottom: 80px;
    overflow: hidden;
}

.features h2{

    font-size: 25px;
    font-weight: bold;
    color: var(--main-color);
    margin-bottom: 40px;
    text-align: center;
}

.features .feat-box{

    width: calc(100% / 3);
    float: left;
    text-align: center;
    margin-bottom: 40px;
}

@media (max-width: 991px){
    .features .feat-box{

        width: 50%;
    }
}

@media (max-width: 767px){
    .features .feat-box{ width: 100%;}
}

.features .feat-box h4{

    font-size: 22px;
    margin: 15px 0 40px;
    position: relative;
}

.features .feat-box h4::before{

    content: "";
    width: 40px;
    height: 2px;
    background-color: var(--main-color);
    position: absolute;
    left: 50%;
    margin-left: -20px;
    bottom: -18px;
}

.features .feat-box p{

    width: 80%;
    margin: 0 auto;
    color: #666;
    line-height: 1.7;
}
/* End Features Styling */

/* Start Testimonials styling */
.testimonials{
    min-height: 600px;
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
}

.testimonials::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: var(--main-color);
}

.testimonials::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: #333;
}

.testimonials h2{

    position: relative;
    z-index: 2;
    font-size: 25px;
    font-weight: bold;
    color: #eee;
    margin-bottom: 40px;
    text-align: left;
}

@media (max-width: 767px){

    .testimonials h2{

        text-align: center;
    } 
}
.testimonials .ts-box{

    width: calc(96% / 3);
    float: left;
    background-color: white;
    padding: 20px;
    position: relative;
    z-index: 2;
}

@media (max-width: 767px){

    .testimonials .ts-box{
        width: 100%;
        float: none;
        margin-bottom: 20px;
    }
}

.testimonials .ts-box:not(:last-of-type){ margin-right: 2px; }

.testimonials .ts-box > p{

    font-size: 16px;
    color: #666;
    font-style: italic;
    line-height: 1.5;
    margin-bottom: 20px;
}

.testimonials .ts-box .personal-info{overflow: hidden;}

@media (max-width: 991px){

    .testimonials .ts-box .personal-info{

        text-align: center;
        overflow: visible;
    }
}

.testimonials .ts-box .personal-info img{

    float: left;
    border-radius: 50%;
    margin-right: 20px;
    width: 128px;
    height: 128px;
}

@media (max-width: 991px){

    .testimonials .ts-box .personal-info img{
        float: none;
        margin-right: 0;
    }
}

.testimonials .ts-box .personal-info h4{

    font-size: 20px;
    margin-bottom: 26px;
    margin-top: 33px;
}

.testimonials .ts-box .personal-info p{color: #666;}
/* Start Testimonials Styling */

/* Start Contact Styling */
.contact-us{
    padding-top: 80px;
    padding-bottom: 80px;
    background-image: url(../images/Contact/map.png);
    background-size: cover;
    position: relative;
}

.contact-us .overlay{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}

.contact-us .container{ position: relative; z-index: 2;}

.contact-us h2{

    font-size: 25px;
    font-weight: bold;
    color: var(--main-color);
    margin-bottom: 40px;
    text-align: center;
}

.contact-us form{

    overflow: hidden;
    max-width: 800px;
    margin: auto;
}

.contact-us form .left {

    float: left;
    width: 49%;
}

.contact-us form .right{

    float: right;
    width: 49%;
}

@media (max-width: 767px){

    .contact-us form .left,
    .contact-us form .right{

        float: none;
        width: 100%;
    }
}

.contact-us form input:not([type="submit"]),
.contact-us form textarea
{
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid var(--main-color);
    margin-bottom: 15px;
    background-color: rgba(218, 218, 218, 0.2);
}

.contact-us form input { height: 45px;}
.contact-us form textarea { height: 165px; }

.contact-us form input:focus,
.contact-us form textarea:focus{

    outline: 1px solid var(--main-color);
}

.contact-us form input[type="submit"]{

    width: 100%;
    padding: 10px;
    background-color: var(--main-color);
    color: #fff;
    border-color: transparent;
    cursor: pointer;
}

.contact-us form input:not([type="submit"]):focus::-webkit-input-placeholder,
.contact-us form textarea:focus::-webkit-input-placeholder{

    opacity: 0;
    transition: 0.3s;
}

.contact-us form input:not([type="submit"]):focus::-ms-input-placeholder,
.contact-us form textarea:focus::-ms-input-placeholder{

    opacity: 0;
    transition: 0.3s;
}

.contact-us form input:not([type="submit"]):focus::placeholder,
.contact-us form textarea:focus::placeholder{

    opacity: 0;
    transition: 0.3s;
}
/* End Contact Styling */

/* Start Footer Styling */
.footer{

    background-color: #333;
    color: #eee;
    padding: 20px;
    text-align: center;
    font-size: 25px;
}
/* End Footer Styling */


/* Make The Website Responsive For All Screens  */

/* Start Grid System */
 @media (min-width: 576px) { /* Small Devices => Landscape Phones */

    .container{

        max-width: 540px;
    }
}

@media (min-width: 768px) { /* Medium Devices => Tablets */

    .container{

        max-width: 720px;
    }
}

@media (min-width: 992px) { /* Desktops */

    .container{

        max-width: 960px;
    }
}

@media (min-width: 1200px) { /* Large Screens */

    .container{

        max-width: 1140px;
    }
}